@media all and (max-width:1924px){
    .hide .text{
        font-size:7rem;
    }
}
@media all and (max-width:1724px){
    .hide .text{
        font-size:5rem;
    }
    .t2ndLine{
        font-size:1.5rem;
    }
}
@media all and (max-width:1224px){
    .hide .text{
        font-size:4rem;
    }
    .t2ndLine{
        font-size:1.5rem;
    }
    .block{
        height:400px!important;
    }
}
@media all and (max-width:1024px){
    .hide .text{
        font-size:2rem;
    }
    .t2ndLine{
        font-size:1.5rem;
    }
    #floatingTxt{
        font-size:2rem!important;
    }
    .myMessage__row{
        font-size:1rem!important; 
    }
    .block:hover header> div{
        left:0rem;
        top:-2rem;
    }
    .block header > div{
        font-size:2rem!important;
    }

}
@media all and (max-width:768px){
    .hide .text{
        font-size:2rem;
    }
    .t2ndLine{
        font-size:1.5rem;
    }

}
@media all and (max-width:480p,){
    .hide .text{
        font-size:2rem;
    }
    .t2ndLine{
        font-size:1.5rem;
    }
    #floatingTxt{
        font-size:2rem;
    }
}