@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); */

@import 'row.css';
/* @import 'block.css'; */


@font-face {
  font-family: "Baskerville";
  src: url("./fonts/LibreBaskerville-Regular.ttf") format("truetype");
       /* url("/fonts/OpenSans-Regular-webfont.woff") format("woff"); */
}
@font-face {
  font-family: "BaskervilleBold";
  src: url("./fonts/LibreBaskerville-Bold.ttf") format("truetype");
       /* url("/fonts/OpenSans-Regular-webfont.woff") format("woff"); */
}
@font-face {
  font-family: "BaskervilleItalic";
  src: url("./fonts/LibreBaskerville-Italic.ttf") format("truetype");
       /* url("/fonts/OpenSans-Regular-webfont.woff") format("woff"); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection{
  background:#66031cd0;
 
}
html {
  --scrollbarBG: #707070;
  --thumbBG: #fff;
}
body{
  /* cursor:none; */
  overflow:hidden;
  perspective:1000px;
  overflow-x:hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}



main {
  font-family: "Baskerville";
  display:flex;
  justify-content:center;
  background:#fff;
}

.landing {
  min-height: 100vh;
  background-size: cover;
  background-color:#fff;
  width:80%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  position:fixed;
  width:100%;
  left:0;
  /* z-index:100; */

  /* display:none; */
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding: 0 3rem;
  font-size: 1.2rem;
}
#logo {
  /* font-family: "Lobster", cursive; */
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  /* font-family: "Lobster", cursive; */
  color: rgb(61, 61, 61);
}

.intro {
  background: #030303;
  /* background: #202020; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: bottom left 60px;
}
.slider {
  /* background: black; */
  /* background: #ee144b; */
  background: #813146!important;
  /* background: #707070; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(100%);

}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  perspective:100px;
  width:50%;
  transform-style: preserve-3d;
  overflow-wrap: anywhere;
}

.hide {
  transform-style: preserve-3d;
  pointer-events: none;
  transition:.2s ease;
}
.hide .text{
  font-size:8rem;
  padding-left: 3rem;
 
}
.hide > span {
  transform: translateZ(100px);
  display: inline-block;
  transition:.2s ease;
}
.mainList{
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  padding-top:10rem;
  gap: 8rem;
  /* gap: 2rem; */

}


.content {
  display: flex;
  flex-wrap: wrap;
}


.footer{
  background-color:#222222d1;
  min-height:20vh;
  color:#eee;
}
#floatingTxt{
  font-weight:900!important;
  text-transform:uppercase;
  width:100%;
  /* padding:20rem 0; */
}
/* pointer */
a{
  font-family: 'Lato', sans-serif;
}
#pointer {
  /* font-family: "Heebo", sans-serif; */
  font-family: 'Lato', sans-serif;
  width: 40px;
  height: 40px;
  background: #fff;
  mix-blend-mode: difference!important;
  border-radius: 50%;
  transition: .5s ease width, .5s ease height, .5s ease transform;
  position:absolute;
  z-index:1;
  pointer-events:none;
  display:flex;
  align-items:center;
  justify-content:center;
  /* text-transform:uppercase; */
  font-size:.6rem;
 
}
#pointer:active{
  transform:scale(.8);
}

#pointer h1{
  width:100%;
  transform: translateX(113px) translateY(-50px) rotate(33deg);
}
#pointer h1 span {
  /* font: 2rem Monaco, MonoSpace; */
  font-family: 'Lato', sans-serif;
  height: 146px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.myAnima{
  animation: 4s linear 0s infinite  rot ;
  /* border:1rem solid red; */
}
.dot{
  display:inline-flex;
  width:.2em;
  height:.2em;
  background:#fff;
  border-radius:50%;
  opacity:0;
}
.item{
  display:flex;
  justify-content:center;
}


@keyframes rot {
  from {transform: rotate(0) }
  to {transform: rotate(360deg) ;}
}

.aboutModal{
  position:fixed;
  top:0;
  left:0;
  width:0;
  height:100vw;
  /* display:none; */
  overflow:hidden;
  background:#fff;
  transition:.2s ease-in;
  transition-delay:.6s;
  /* z-index:99; */
}
.aboutModal .aboutModal__content{
  display:none;
}
.aboutModal.active{
  width:100%;
}
.aboutModal__content{
  width:100%;
  background:#fff;
  padding:1rem;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  box-shadow: 0 20px 80px 0 rgba(0,0,0,.45);
}


#aboutLauncher{
  position:relative;
  z-index:100;
}
.describe{
  font-size:1rem;
  font-weight:100;
  display:flex;
  align-items:center;
}

.item:active{
  background:#813146!important;
  mix-blend-mode: difference;
  
}
button:active, footer a:active{
  background:#66031cd0!important;

}

.item:active img{
  filter:invert(100%)!important;
  transition:none!important;
}

.item:active .rowText{
  color:#fff!important;
  transition:none!important
}

.t2ndLine{
  font-size:2rem!important;
}

.map .modal{
  background-image:url(../img/mapToModal.png);
  background-size:cover;
}

.extable .modal{
  background-image:url(../img/exToModal.png);
  background-size:cover; 
}

.myMessage__row{
  /* opacity:0; */
  display:block;
  overflow:hidden;
  font-size:3rem;}
.hiddenRow{
  overflow:hidden!important;
  font-family:'BaskervilleItalic';
}


/*                                   */
/*                rwd                */
/*                                   */


@media all and (max-width:1924px){
  .hide .text{
      font-size:7rem;
  }
}
@media all and (max-width:1724px){
  .hide .text{
      font-size:5rem;
  }
  .t2ndLine{
      font-size:1.5rem;
  }
}
@media all and (max-width:1224px){
  .hide .text{
      font-size:4rem;
  }
  .t2ndLine{
      font-size:1.5rem;
  }
  .block{
      height:400px!important;
  }
  .block:hover header> div{
    top:0!important;
  }
}
@media all and (max-width:1024px){
  .hide .text{
      font-size:2rem;
  }
  .t2ndLine{
      font-size:1.5rem;
  }
  #floatingTxt{
      font-size:2rem!important;
  }
  .myMessage__row{
      font-size:1rem!important; 
  }
  .block:hover header> div{
      left:0rem;
      top:-2rem;
  }
  .block header > div{
      font-size:2rem!important;
  }
}
@media all and (max-width:768px){
  .intro-text {
    width:100%!important;
  }
  .hide .text{
      font-size:1rem!important;
  }
  .t2ndLine{
      font-size:1.5rem;
  }
  .mainList .tinyText{
    width:90%!important;
    padding-left:10%;
}
section{
  width:100%!important;
}

}
@media all and (max-width:480p,){
  .hide .text{
      font-size:2rem;
  }
  .t2ndLine{
      font-size:1.5rem;
  }
  #floatingTxt{
      font-size:2rem;
  }
}


.mainList{
  overflow-x:hidden;
}

.hiddenRow{
  margin:.5rem 0;
}

@media (pointer:coarse) {
  #pointer{
    display:none;
  }
  .modal{
    display:none!important;
  }
}

.mainList .tinyText{
  padding:5rem 0;width:60%; padding-top:0;
}
/* /block */


.block {
  padding: 1rem;
  box-shadow: 0 20px 80px 0 rgba(0,0,0,.45);
  border-radius: 5px;
  width: clamp(300px, 60%, 100vw);
  /* transform-style: preserve-3d; */
  transition: .2s ease;
  height: 450px;
  /* background-color: #000;
   */
   background-color:#eee;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow:column;
  position:relative;
  background-color:#fff;
overflow:hidden;
  /* perspective: 600px; */
}
.block > *{
  width:auto;
}
.block header> div{
  position:absolute;
  top:0;
  /* color:#ffffff50;
   */
   color:#000;
  font-size:5rem;
  text-transform:uppercase;
  left:2rem;
  width: 20%;
  display: flex;
  transition:.2s linear all;
  transform-origin: bottom left;
  opacity:.333;
  font-family:'Lato';
}
.block > header{
  transition: 0.2s;
  transition-delay:.6s;
  transform:scale(1);
}
.block .content{
  position:absolute;
  color:#dadada;
  font-size:2rem;
  top:0;
  height:100%;
  left:0;
  right:0;
  margin:0 auto;
  width:100%;
  align-items:center;
  display:flex;
  flex-flow:column;
  opacity:1;
  transform:scale(0);
  transition:.2s ease;
  transition-delay:.6s;
  justify-content:center;
  background:#dadada;
}
.legend{
  /* width: 38%; */
  padding:.5rem;
  font-family:lato;
}
.block:hover .content{
  transform:scale(1);
  display: flex;
  flex-flow: row;
}
.block .content{
  display: flex;
  flex-flow: row;
}
.block:hover header> div{
  left:0rem;
  top:-5rem;
  transform:rotate(90deg) ;;
}
.block:hover > .content header{
  transform:scale(1);
}
.block > .content header{
  transition: 0.2s;
  transform:scale(0);
  transition-delay:.6s;
  text-transform:uppercase;
  pointer-events:none;
  mix-blend-mode: difference!important;
}
.block > .content div{
  height: 35%;
}
.block:hover > header{
transform:scale(0);
}
footer a{
  background:#000;

  font-size:1rem;
  text-transform:uppercase;
  padding:1rem;
  width:200px;

  color:#fff!important;
  z-index:999999999999999999999!important;
  position:relative;
}
.block header div:nth-of-type(1){
  transition-delay:.1s;
}
.block header div:nth-of-type(2){
  transition-delay:.2s;
}
.block header div:nth-of-type(3){
  transition-delay:.3s;
}
.legend div{
  mix-blend-mode: difference;
}

.prev {
  width: 50%;
  height: 80%!important;
  background: red;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: rotate3d(0, 1, .2, 45deg)!important;
}

.modal{
position:fixed!important;
top:0;
left:0;
width:350px;
height:250px;
background:#fff;
box-shadow: 1px 1px 0 0 #222;
opacity:0;
transition:1s ease opacity, 1s ease transform ;
transition-delay:.7s;
display: none;
}
.block:hover .modal{
opacity:.8;  
transform: translateX(0px);
}


.map{
  background-image: url(../img/map.png)!important;
  background-repeat: no-repeat!important;
  background-size: 60%!important;
  background-position: right!important;
}
.extable{
background-image: url(../img/ex.png)!important;
background-repeat: no-repeat!important;
/* background-size: 60%!important; */
background-position: right!important;
}


.modal{
transform: translateX(150px);
border-radius:5px;
overflow:hidden;
}

/* eoblock */
